{% extends '::base.html.twig' %}

{% block content_title %}Туриниры{% endblock %}
{% block content_subtitle %}Список{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">

                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('adminLte/plugins/datatables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block javascripts %}
{% endblock %}
